*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* upper */
#upper{
    display: flex;
    height: calc(100vh - 100px);
    background-color: yellow;
}

/* side */
#side{
    height: 100%;
    width: 300px;
    background-color: red;
}
main{
    height: 100%;
    width: calc(100% - 300px);
    background-color: blueviolet;
}

/* player */
footer{
    height: 100px;
    background-color: black;
}