*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}

/* upper */
#upper{
    display: flex;
    height: calc(100vh - 100px);
    background-color: yellow;
}

/* side */
#side{
    height: 100%;
    width: 200px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}
main{
    height: 100%;
    width: calc(100% - 200px);
    background-color: rgb(47, 39, 39);
}

/* player */
footer{
    height: 100px;
    background-color: rgb(58, 56, 56);
}

/* contenitore upgrade */
#upgrade{
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#button-up{
    color: white;
    border: 2px solid white;
    border-radius: 10%;
    background-color:  rgba(0, 0, 0, 0.5);
    height: 30px;
}

/* elementi sider */
#icon-logo{
    color: white;
    margin: 10px;
    padding: 10px;
}
ul{
    color: grey;
    margin: 10px;
    list-style-type:none;
    line-height: 20px;
    font-size: 10px;
}
h2{
    color: white;
    font-size: 10px;
    margin: 10px;
}

/* elementi main */

#list-main{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    color: grey;
    gap: 10px;
    margin-left: 400px;
}
#container-imgup{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.box {
    text-align: center;
    padding-block: 20px;
    background-color: rgb(52, 52, 250);
    border: white 1px solid;
}
img{
    width: 100%;
}
